.THIS .input-group .lightningInput {
    display: inline-block;
    margin-right: 10px;
}
.THIS .slds-text-heading_small{
    width:100%;
    padding:center;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}